doctype html
link(type='text/css' rel='stylesheet' href='css/style.css')
script(language='javascript' src='js/ApiCall.js')
.wrapper
  button.button(onclick='onStart()') Start
  button.button(onclick='onStop()') Stop
  p
  input(id='response' type='text' value='success' readonly='')